@use  '../util' as u;

html{
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
    font-family: u.$mainFont;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

