.nav {
    display: flex;
    align-items: center;
    padding: 16px 0px;

    &__logo{
        margin-right: 3.8rem;
    }
    &__menu{
        display: flex;

        & > li{
            margin-right: 40px;
        }
    }

    &__login{
        display: flex;
        margin-left: auto;
    }
}