.nav {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;

    &__logo{
        margin-right: 3.8rem;
    }
    &__menu{
        display: flex;
        font-size: 0.88rem;

        & > li{
            margin-right: 2.22rem;
        }
    }

    &__login{
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 0.88rem;

        & li:first-child{
            margin-right: 40px;
        }

        &--button{
            border: 1px var(--gray-color) solid;
            border-radius: 15px;
            background-color: transparent;
            padding: 12px 23px;
            font-size: 0.88rem;
            color: var(--gray-color);
        }
    }
}